{# {% extends 'base.html.twig' %} #}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
<style>

    .container { 
       
    }
</style>


<div class="container">
   
</div>
 {% include 'layouts/flash_message.html.twig' %}
{% endblock %}
